@import "style.css";


.head-image-class{
    background-image: url('./classes.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgb(13, 13, 54);
    min-height: 75vh;
    position: relative;
    overflow: hidden;
}

.edu-text-class{
    font-size: 30px;
    color: rgb(19, 207, 207);
    background-color: black;
    padding: 1%;
}

.image-effect-class{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.47);
    height: 100vh;
    width: 100%;
    
}

.welcome-section-class {

    background-color: white;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 35%;
    padding-left: 5%;
    position: relative;
    overflow: hidden;



}

.testimonial {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.tst-card1,
.tst-card2,
.tst-card3,
.tst-card4 {
    background-color: aliceblue;
    padding: 6%;
}


.test-imgs{
    width: 75px;
    height: 75px;
    border-radius: 100%;
}


.apply-link-class {
    color: goldenrod;
    text-align: center;
    cursor: pointer;
    border: 2px solid goldenrod;
    padding: 2%;
    background-color: rgb(13, 13, 54);
}


@media all and (max-width:575px){

    .edu-text-class{
        font-size: 20px;
        color: rgb(19, 207, 207);
        background-color: black;
        padding: 1%;
    }

    .welcome-section-class {

        background-color: white;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 10%;
        padding-right: 5%;
        padding-left: 5%;
        position: relative;
        overflow: hidden;
    

    }

    .testimonial {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        grid-gap: 10px;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }



}